:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --adress-color: #ffffff;
  --footer-contacts-color: #rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* -------------------------Header----------------------*/

.page-logo-nav {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 90px;
}
.page-logo-studio {
  color: var(--logo-color);
}
.nav-links {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}
.page-header .container {
  display: flex;
  align-items: center;
}
.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-list:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
.mail {
  margin-right: 50px;
}
.header-contacts {
  margin-left: auto;
  align-items: center;
  display: flex;
}

/*----------------------Portfolio list--------------------*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-page-header {
  border-bottom: 1px solid #ececec;
}
.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-button {
  height: 38px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.projects {
  padding: 20px 24px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.filter-button {
  cursor: pointer;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.portfolio-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/*--------------------------Main--------------------------*/

.main-hero {
  width: 1200px;
  background-color: #2f303a;
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container {
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}
.main-button {
  display: inline-block;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
}
.main-button {
  cursor: pointer;
}
.main-description-list {
  display: flex;
  align-items: center;
  padding-top: 89px;
  padding-bottom: 94px;
}
.main-description-item {
  margin-right: 30px;
}

.main-description-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.photos-works {
  display: flex;
  align-items: center;
}
.main-second {
  padding-bottom: 94px;
}
.main-works-container .photos-works-item:not(:last-child) {
  margin-right: 30px;
}
.main-works {
  margin-bottom: 50px;
}
.main-description-paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.team-list {
  display: flex;
  align-items: center;
}

.team {
  margin-bottom: 50px;
}
.main-third {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.work-name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-bottom: 10px;
}
.team-item-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/*----------------------------Footer--------------------------*/
.footer-page {
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-page-logo {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: auto;
  margin-bottom: 20px;
}

.footer-page-logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-adress {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  margin-bottom: 9px;
}
.footer-contact {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}
